* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    --text-color: #E1E1E6;
    --bg-color: #000;

    --hue: 194;
    --primary-color: hsl(var(--hue), 72%, 13%);

    --input-color: #7C7C8A;

    --button: hsl(var(--hue), 91%, 25%);
    --text-button: #FFF;
    --bg-text-button: hsl(var(--hue), 65%, 7%);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body * {
    font-family: var(--ff-primary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /* não permite transbordar da caixa */
    clip: rect(0, 0, 0, 0); /* retângulo criado */
    white-space: nowrap; /* não permite quebra de linha */
    border-width: 0;
}

#app {
    max-width: 1120px;

    margin: 0 auto; /* para alinhar ao centro */

    padding: 2rem; /* preenchimento interno para a margin não grudar quando mexer na tela */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 11.5rem 0rem 8.7rem;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.search input {
    background-color: var(--bg-text-button);
    color: var(--text-button);

    border: none;
    border-radius: 0.5rem;
    padding: 1.6rem;

    width: 46.2rem;
    height: 4.8rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;

    margin-right: 0.8rem;
}

.search input::placeholder {
    color: var(--input-color);
}

.search button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--button);
    color: var(--text-button);
    
    border: none;
    border-radius: 0.5rem;
    padding: 1.2rem 3.2rem;

    width: 17rem;
    height: 4.8rem;
    
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    text-transform: uppercase;
    cursor: pointer;

    transition: 0.3s ease;
}

.search button:hover {
    background-color: var(--text-button);
    color: var(--button);
}

table {
    width: 100%;
    border-collapse: collapse; /* serve para juntar as colunas, tirando os espaçamentos */
    border-radius: 1.2rem;

    overflow: hidden;
    
    box-shadow: 0 1rem 1rem -1rem var(--primary-color);
}

table * {
    color: var(--text-color);

    font-size: 2rem;
    line-height: 2rem;
}

table th {
    background: var(--primary-color);
    text-align: left;
    font-weight: 700;
    padding: 1.6rem 2.4rem 1.6rem;
}

/* pseudo-class */
table th:first-child {
    border-radius: 1.2rem 0 0 0;
}

table th:last-child {
    border-radius: 0 1.2rem 0 0;
}

tbody {
    border: 2px solid var(--bg-even-row);
}

/* para deixar uma linha de cada cor */
/* cor de linhas ímpares (even) */
table tr:nth-child(even) {
    background: #06181C;
}

/* cor de linhas pares (odd) */
table tr:nth-child(odd) {
    background: none;
}

table td {
    padding: 1.6rem 4rem;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    white-space: nowrap; /* não permite quebra de linha */
}

/* configuração da imagem */
td.user img {
    width: 6rem;
    height: 6rem;
    
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: 700;
}

td.user a span {
    font-weight: 400;
}

td .remove {
    background: none;
    border: none;

    color: red;

    cursor: pointer;
}

.empty-message {
    text-align: center;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.empty-container img {
    width: 150px;
    opacity: 0.5;
}

.empty-container p {
    font-size: 1.8rem;
    color: var(--input-color);
    margin-top: 1rem;
}

.hide {
    display: none;
}