* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    --text-color: #E1E1E6;
    --bg-color: #000;

    --hue: 194;
    --primary-color: hsl(var(--hue), 72%, 13%);

    --input-color: #7C7C8A;

    --button: hsl(var(--hue), 91%, 25%);
    --text-button: #FFF;
    --bg-text-button: hsl(var(--hue), 65%, 7%);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--ff-primary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /* não permite transbordar da caixa */
    clip: rect(0, 0, 0, 0); /* retângulo criado */
    white-space: nowrap; /* não permite quebra de linha */
    border-width: 0;
}

#app {
    max-width: 1120px;
    margin: 0 auto; /* para alinhar ao centro */
    padding: 2rem; /* preenchimento interno para a margin não grudar quando mexer na tela */
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 11.5rem 0rem 8.7rem;
    width: 100%;
}

/* search */
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.search input {
    background-color: var(--bg-text-button);
    color: var(--text-button);

    border: none;
    border-radius: 0.5rem;
    padding: 1.6rem;

    width: 46.2rem;
    height: 4.8rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;

    margin-right: 0.8rem;
}

.search input::placeholder {
    color: var(--input-color);
}

.search button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--button);
    color: var(--text-button);
    
    border: none;
    border-radius: 0.5rem;
    padding: 1.2rem 3.2rem;

    width: 17rem;
    height: 4.8rem;
    
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    text-transform: uppercase;
    cursor: pointer;

    transition: 0.5s ease;
}

.search button:hover {
    background-color: var(--text-button);
    color: var(--button);
}

/* table */
table * {
    color: var(--text-color);

    font-size: 2rem;
    line-height: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse; /* serve para juntar as colunas, tirando os espaçamentos */

    position: relative;

    min-height: 10rem;
}

thead {
    background: var(--primary-color);
    border: 1px solid #4A808C;
}

tbody {
    display: block;
    max-height: calc(6 * 4.8rem); /* altura limitada de 6 linhas */
    overflow-y: auto;
    border: 1px solid #4A808C;

    position: relative;
}

thead tr,
tbody tr {
    border: 1px solid #4A808C;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 1.2rem;
}
thead tr:first-child th:last-child {
    border-top-right-radius: 1.2rem;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1.2rem;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1.2rem;
}

/* estrutura da tabela */
table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table th {
    background: var(--primary-color);
    text-align: left;
    font-weight: 700;
    padding: 1.6rem 2.4rem;
}

table td {
    padding: 1.6rem 4rem;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

/* alternância de cores */
/* cor de linhas ímpares (even) */
table tr:nth-child(even) {
    background: #06181C;
}

/* cor de linhas pares (odd) */
table tr:nth-child(odd) {
    background: none;
}

/* user */
td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    white-space: nowrap; /* não permite quebra de linha */
}

td.user:hover {
    filter: brightness(1.1);
}

/* img user */
td.user img {
    width: 6rem;
    height: 6rem;
    
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: 700;
}

td.user a span {
    font-weight: 400;
}

td .remove {
    background: none;
    border: none;

    color: #F75A68;

    cursor: pointer;
}

td .remove:hover {
    filter: brightness(1.1);
    color: red;
}

td button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--input-color);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

/* barra de rolagem */
tbody::-webkit-scrollbar {
    width: 8px; /* ajusta a largura para ser mais visível */
    position: absolute;
    right: 0; /* garante que ela fique sobre a tabela */
}

tbody::-webkit-scrollbar-track {
    background: transparent;
}

tbody::-webkit-scrollbar-thumb {
    background: #4A808C;
    border-radius: 6px; 
    cursor: pointer;
    opacity: 0.7;
}

tbody:hover::-webkit-scrollbar-thumb {
    opacity: 1;
}

/* imagem oculta - quando não tem favoritado */
.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.table-container {
    position: relative;
    border-radius: 1.2rem;
    padding: 1rem;
}

.empty .empty-content {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.empty-content p {
    font-size: 4rem;
    font-weight: bold;
    color: var(--input-color);
    white-space: nowrap;
}

.hide {
    display: none;
    transition: display 0.5s ease;
}

tbody:empty {
    background: rgba(255, 255, 255, 0.05);
    height: 50vh;
}

/* responsividade */

/* até 1024px */
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .search {
        flex-direction: column;
        width: 100%;
    }

    .search input {
        width: 100%;
    }

    .search button {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 2rem;
    }

    /* exibir apenas colunas "Usuário" e "Ação" */
    table th:nth-child(2),
    table td:nth-child(2),
    table th:nth-child(3),
    table td:nth-child(3) {
        display: none;
    }

    .empty-content p {
        font-size: 4rem;
        font-weight: bold;
        color: var(--input-color);
        white-space: pre-wrap;
    }
}